html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 80%;
  width: 70%;
  float: left;
  margin-right: 4em;
}

li {
  display: inline;
}

#title {
  margin-left: 25em;
  font-size: 125%;
  text-decoration: none;
}

a {
  text-decoration: none;
}
