<h2>Add a new trail~</h2>
<form action="/trails" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>City</label>
  <input type="text" name="city">
  <label>Description</label>
  <input type="text" name="description">
  <label>Length</label>
  <input type="text" name="length">
  <input type="submit" value="Add">
</form>
