<h2>Add a new trail~</h2>
<form action="/trails" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Distance</label>
  <input type="text" name="distance">
  <label>Location</label>
  <input type="text" name="location">
  <input type="submit" value="Add">
</form>
