<% if current_user %>
  <a href="/users/<%= current_user.id %> ">Profile Page</a>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
<% else %>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Register</a>
<% end %>

<!-- USE GOOGLE AUTO COMPLETE FORM INSTEAD OF HTML FORM -->
<form id="search" action="/trails" method="POST">
  <input type="text" name="search" placeholder="Search"><br><br>
  <input type="submit" style="position: absolute; left: -9999px">
</form>
