<!DOCTYPE html>
<html>
  <head>
    <title>hikr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <!-- <div class="jumbotron">BIG THING</div> -->

      <div id="map"></div>
    <div id="trails"></div>
    <!-- <img src="/public/hike.png" alt="hike logo" /> -->
  </body>
</html>
