<!DOCTYPE html>
<html>
  <head>
    <title>hikr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="map"></div>
    <div id="trails"></div>
    <!-- <% @trails.each do |trail| %>
      <p><%= trail.name %></p>
    <% end %> -->
  </body>
</html>
