<!DOCTYPE html>
<html>
  <head>
    <title>hikr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;

      function initMap() {
        // var campCreek = {lat: 34.2636333, lng: -116.9734685};
        var uluru = {lat: 37.784, lng: -122.399};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
          // center: campCreek
        });


        autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */ (
			    $("#search")[0]), {
				    types: ['(regions)']
			  });

        places = new google.maps.places.PlacesService(map);

        autocomplete.addListener('place_changed', onPlaceChanged);

        <% if @places %>
		      <% @places.each do |place| %>
			       var marker = new google.maps.Marker({
				       position: { lat: <%= place.lat %>, lng: <%= place.lng %> },
				       animation: google.maps.Animation.DROP, map: map
			       });
		      <% end %>
	      <% end %>

        var infoWindow = new google.maps.InfoWindow({map: map});

      }

      function onPlaceChanged() {
	       var place = autocomplete.getPlace();
	       console.log(place)
         var input = (place['formatted_address'])
         console.log(input)
        //  var search = MapAdapter(input)
        //  console.log(search)
	       if (place.geometry) {
		       map.panTo(place.geometry.location);
		       map.setZoom(12);
	       } else {
		       document.getElementById('search').placeholder = 'Search';
      };

      var marker = new google.maps.Marker({
        position: place.geometry.location,
        // position: campCreek,
        map: map
      });
  }
    </script>
    <% @trails.each do |trail| %>
      <p><%= trail.name %></p>
    <% end %>
  </body>
</html>
